In [1]:
import pandas as pd 
import plotly.express as px
df = pd.read_csv('data-root/data_root.csv')
df.head()

,Unnamed: 0,gender,age,working_professional_or_student,profession,academic_pressure,work_pressure,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression,general_pressure,general_satisfaction
0,0,0,37,1,Teacher,0.0,2.0,0.0,4.0,4,0,1,0,6,2,0,0,2.0,4.0
1,1,1,60,1,Financial Analyst,0.0,4.0,0.0,3.0,2,-1,0,1,0,4,1,0,4.0,3.0
2,2,0,42,1,Teacher,0.0,2.0,0.0,3.0,2,0,1,0,0,2,0,0,2.0,3.0
3,3,0,44,1,Teacher,0.0,3.0,0.0,5.0,4,1,1,1,1,2,1,0,3.0,5.0
4,4,1,48,1,UX/UI Designer,0.0,4.0,0.0,3.0,4,0,0,1,6,5,1,0,4.0,3.0

In [2]:
df = df.drop(columns='Unnamed: 0')
df.head()

,gender,age,working_professional_or_student,profession,academic_pressure,work_pressure,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression,general_pressure,general_satisfaction
0,0,37,1,Teacher,0.0,2.0,0.0,4.0,4,0,1,0,6,2,0,0,2.0,4.0
1,1,60,1,Financial Analyst,0.0,4.0,0.0,3.0,2,-1,0,1,0,4,1,0,4.0,3.0
2,0,42,1,Teacher,0.0,2.0,0.0,3.0,2,0,1,0,0,2,0,0,2.0,3.0
3,0,44,1,Teacher,0.0,3.0,0.0,5.0,4,1,1,1,1,2,1,0,3.0,5.0
4,1,48,1,UX/UI Designer,0.0,4.0,0.0,3.0,4,0,0,1,6,5,1,0,4.0,3.0

In [3]:
# Preencher valores ausentes em 'profession' com 'Unoccupied'
df['profession'] = df['profession'].fillna('Unoccupied')

# Agrupar profissões por setor com valores numéricos
sector_mapping = {
    'Unoccupied': 0,  # Usando 0 para 'Unoccupied'
    'Teacher': 1, 'HR Manager': 1, 'Pharmacist': 1, 'Judge': 1, 
    'Plumber': 1, 'Electrician': 1, 'Doctor': 1, 'Lawyer': 1,  # Setor público (1)
    
    'Business Analyst': 2, 'Marketing Manager': 2, 'Financial Analyst': 2, 
    'Finanancial Analyst': 2, 'Sales Executive': 2, 'Customer Support': 2, 
    'Entrepreneur': 2, 'Consultant': 2, 'Travel Consultant': 2, 
    'Chef': 2, 'Manager': 2,  # Setor privado (2)
    
    'Software Engineer': 3, 'Data Scientist': 3, 'Mechanical Engineer': 3, 
    'Civil Engineer': 3, 'UX/UI Designer': 3, 'Graphic Designer': 3, 
    'Architect': 3, 'Digital Marketer': 3, 'Pilot': 3, 'Researcher': 3,  # Setor tecnologia (3)
    
    'Content Writer': 4, 'Chemist': 4, 'Educational Consultant': 4, 
    'Investment Banker': 4, 'Research Analyst': 4, 'Entrepreneur': 4, 
    'Consultant': 4, 'Chef': 4  # Setor liberal (4)
}

# Adicionar coluna com setor correspondente
df['sector'] = df['profession'].map(sector_mapping)

# Calcular a pressão média por setor 
sector_pressures = df.groupby('sector')['general_pressure'].mean().astype(int)

# Mapear o nível de estresse para cada profissão
df['stress_level'] = df['sector'].map(sector_pressures)

df.head()

,gender,age,working_professional_or_student,profession,academic_pressure,work_pressure,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression,general_pressure,general_satisfaction,sector,stress_level
0,0,37,1,Teacher,0.0,2.0,0.0,4.0,4,0,1,0,6,2,0,0,2.0,4.0,1.0,3.0
1,1,60,1,Financial Analyst,0.0,4.0,0.0,3.0,2,-1,0,1,0,4,1,0,4.0,3.0,2.0,2.0
2,0,42,1,Teacher,0.0,2.0,0.0,3.0,2,0,1,0,0,2,0,0,2.0,3.0,1.0,3.0
3,0,44,1,Teacher,0.0,3.0,0.0,5.0,4,1,1,1,1,2,1,0,3.0,5.0,1.0,3.0
4,1,48,1,UX/UI Designer,0.0,4.0,0.0,3.0,4,0,0,1,6,5,1,0,4.0,3.0,3.0,2.0

In [4]:
df.to_csv('fullyTreated2.csv')